form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.input {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

button,
input,
select {
  padding: 5px 10px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
